# Python
*.pyc
__pycache__
venv/

# Node
node_modules

# Docs
/docs/_build/

# Testing / coverage reports
/.coverage
/.pytest_cache/
/.tox/
/htmlcov/

# Python packaging
/build/
/dist/
wagtail_autocomplete.egg-info
